 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class = "row d-flex justify-content-center">
                        <div class = "col-md-3 col-sm-6 mx-4">
                            <div class="card" style="width: 15rem;">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1457660655550-aeef7b9b9c3b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
                                <div class="card-body p-0">
                                  <p class="card-title">Card title</p>
                                </div>
                            </div>
                        </div>
                        <div class = "col-md-3 col-sm-6 mx-4">
                            <div class="card" style="width: 15rem;">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1457660655550-aeef7b9b9c3b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
                                <div class="card-body p-0">
                                  <p class="card-title">Card title</p>
                                </div>
                            </div>
                        </div>
                        <div class = "col-md-3 col-sm-6mx-4">
                            <div class="card" style="width: 15rem;">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1457660655550-aeef7b9b9c3b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
                                <div class="card-body p-0">
                                  <p class="card-title">Card title</p>
                                </div>
                            </div>
                        </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class = "row d-flex justify-content-center">
                    <div class = "col-md-3 col-sm-6 mx-4">
                        <div class="card" style="width: 15rem;">
                            <img class="card-img-top" src="https://images.unsplash.com/photo-1457660655550-aeef7b9b9c3b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
                            <div class="card-body p-0">
                              <p class="card-title">Card title</p>
                            </div>
                        </div>
                    </div>
                    <div class = "col-md-3 col-sm-6mx-4">
                        <div class="card" style="width: 15rem;">
                            <img class="card-img-top" src="https://images.unsplash.com/photo-1457660655550-aeef7b9b9c3b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
                            <div class="card-body p-0">
                              <p class="card-title">Card title</p>
                            </div>
                        </div>
                    </div>
                    <div class = "col-md-3 col-sm-6 mx-4">
                        <div class="card" style="width: 15rem;">
                            <img class="card-img-top" src="https://images.unsplash.com/photo-1457660655550-aeef7b9b9c3b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
                            <div class="card-body p-0">
                              <p class="card-title">Card title<p5>
                            </div>
                        </div>
                    </div>
              </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
